<section class="bg-gray-100">

  <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">

    <form [formGroup]="productForm" autocomplete="off" class="space-y-4">
      <div>
        <label class="sr-only" for="name">Product name</label>
        <input
          formControlName="productName"
          class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="Product name" type="text" id="name" />
      </div>

      <div>
        <label class="sr-only" for="material">Material</label>
        <input
          formControlName="material"
          class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="Material" type="text" id="material" />
      </div>

      <div>
        <label class="sr-only" for="price">Price</label>
        <input
          formControlName="precio"
          class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="Price" type="text" id="price" />

      </div>

      <div class="flex max-h-min">
        <div>
          <label class="sr-only" for="image">Image</label>
          <input
          formControlName="productImage"
          class="w-full rounded-s-lg border border-gray-200 p-3 text-sm" placeholder="Image" type="text" id="image" />
        </div>
        <img class="flex-1 object-cover max-h-[45px] rounded-e-lg" [src]="productForm.value.productImage" [alt]="productForm.value.productImage">
      </div>

      <div class="flex items-end max-h-min">
        <div>
          <label  for="image">Image</label>
          <input
          formControlName="userImage"
          class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="User Image" type="text" id="userImage" />
        </div>
        <img class="flex-1 object-cover max-h-[45px] rounded-e-lg" [src]="productForm.value.userImage" [alt]="productForm.value.userImage">
      </div>

      <div>
        <label class="sr-only" for="username">Username</label>
        <input
          formControlName="username"
          class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="Username" type="text" id="username" />
      </div>

      <div>
        <label class="sr-only" for="createdAt">Created At</label>
        <input
          formControlName="createdAt"
          class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="Created At" type="text" id="createdAt" />

      </div>


      <div class="mt-4">
        <button type="submit"
          class="inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto">
          Send Enquiry
        </button>
      </div>
    </form>
  </div>
