
<section>
  <div class="relative flex justify-center h-screen overflow-hidden lg:px-0 md:px-12">
    <div class="relative z-10 flex flex-col flex-1 px-4 py-10 bg-white shadow-2xl lg:py-24 md:flex-none md:px-28 sm:justify-center">
      <div class="w-full max-w-md mx-auto md:max-w-sm md:px-0 md:w-96 sm:px-4">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="hidden bg-white lg:block lg:flex-1 lg:relative sm:contents">
      <div class="absolute inset-0 object-cover w-full h-full bg-white" alt="" height="1866" width="1664">
        <img class="object-cover   w-full h-screen bg-gray-200" src="https://images.unsplash.com/photo-1634832802370-164cf82ec82a?auto=format&fit=crop&q=80&w=1587&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" width="1310" height="873">
      </div>
    </div>
  </div>
</section>
